@model OnlineShopping.Domain.Entity.Category

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<p>ИД: @Model.Id</p>
<p>Название категории: @Model.Name</p>
@if (@Model.CategoryParent != null)
{
    <p>ИД: @Model.Id</p>
        <p>Название категории: @Model.Name</p>
        @if (@Model.CategoryParent != null)
        {
            <p>Ид родителя: @Model.CategoryParent.Id</p>
            <p>Название категории родителя: @Model.CategoryParent.Name</p>
        }
}