@model OnlineShopping.Domain.ViewModels.Product.ProductViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<p>ИД: @Model.Id</p>
<p>Название продукта: @Model.Name</p>
<p>Описание продукта: @Model.Description</p>
<p>Цена продукта: @Model.Price</p>
<p>ИД категории продукта: @Model.CategoryId</p>
